.container{
  overflow: hidden;
  height: 600px;
}
div{
  display: block;
  height: 700px;
  width: 1000px;
}
#container li:first-child{
  left:10px !important;
  top:72px !important;
}
.background-layer-front{
  margin-left: -40px;
  background: url('../img/titan/layer2.png') no-repeat;

}
.background-layer-mid{
  margin-left: -20px;
  background: url('../img/titan/layer1.png') no-repeat;
}
.background-layer-back{
  background: url('../img/titan/layer3.png') no-repeat 0 50%;
  background-size: 59%;
}